.list-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.list-container > .subtitle {
	align-self: center;
}

.not-done-task {
	background-color: red;
}

.done-task {
	background-color: green;
}
